{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier un utilisateur</h1>

<form method="POST">
    <div>
        <label>Prénom:</label>
        <input type="text" name="firstname" value="{{ user.firstname }}" required>
    </div>
    <div>
        <label>Nom:</label>
        <input type="text" name="lastname" value="{{ user.lastname }}" required>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required>
    </div>
    <button type="submit">Modifier</button>
</form>
{% endblock %}
