<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue{% endblock %}</title>
</head>
<body>

<header>
</header>

<main>
    {% block body %}Profile  {% endblock %}
</main>

</body>
</html>
